//-  twitter cards

// Twitter Card
meta(name='twitter:card' content='summary')
meta(name='twitter:url' content=homepage)
meta(name='twitter:title' content=titles)
meta(name='twitter:description' content=description)
// // Twitter Card