//- facebook ogp tags

// Facebook: Open Graph 
meta(property='og:title', content=titles)
meta(property='og:type', content='website')
meta(property='og:description', content=description)
meta(property='og:url', content=homepage)
meta(property='og:locale', content='ja_JP')
// //Facebook: Open Graph 